{% extends "base.html" %}
{% load staticfiles %}
{% load customtags %}
{% load tz %}
{% block css %}
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="{% static 'common/css/Litetooltip/litetooltip.css' %}"/>

    <!-- END PAGE LEVEL STYLES -->
{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-md-12">
            <div class="imagehotspot-container" style="position: relative; max-width: 1280px; /* max-width: actual width of image */ width: 100%; height: auto; z-index: 101;">
                <div style="position: relative; height: 0px; padding-bottom: 81.17%; /* padding-bottom: image's height divided by width multiply by 100 */">
                    <img class="img-responsive" src="{% static '/common/images/plano2.png' %}" style="position: absolute; top: 0px; left: 0px; z-index: 102">
                </div>
                {% for ag, valores in pos_ag.items %}{% if valores.img %}
                <div id="{{ ag }}" name="agen" style="position: absolute; z-index: {{ valores|get_item:'zindex'|safe }}; width:{{ valores|get_item:'width'|safe }}%; top: {{ valores|get_item:'top'|safe }}%; left: {{ valores|get_item:'left'|safe }}%;">
                    <img class="img-responsive" src="{% static valores|get_item:'img' %}" >
                </div>
                {% endif %}{% endfor %}

            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="{% static 'common/js/Litetooltip/litetooltip.js' %}"></script>
<!-- END PAGE LEVEL PLUGINS -->
{% endblock %}

{% block jquery %}

{% endblock %}