{% extends "fu/baseDashboard.html" %}
{% load staticfiles %}
{% load customtags %}
{% load tz %}
{% block css %}
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="{% static 'common/assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'common/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'common/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'common/css/Litetooltip/litetooltip.css' %}"/>
    <!-- END PAGE LEVEL STYLES -->

    <style>
        .bootstrap-datetimepicker-widget tr:hover {
            background-color: #808080;
        }
    </style>
{% endblock %}

{% block contenido %}


{% if parque.no_aerogeneradores == 0 %}
    <div class="row">
        <div class="col-md-11 col-md-offset-1">
            <h4>Por favor, ingresar la informaci&oacute;n del parque (Configuraci&oacute;n).</h4>
        </div>
    </div>
{% else %}
    <div class="page-bar">
        <div class="page-toolbar">
            <div class="form-group" style="margin-bottom: 0px;">
                <div class='input-group date' id="dashboard-report-range">
                    <input type='text' class="form-control" id="dashboard-input" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <h1 class="page-title">
    {% block pagetitle %}
        {{ cont.titulo }} <small>{{ cont.subtitulo }}</small>
    {% endblock %}
    </h1>

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 blue" href="#">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" data-value="1349">0</span>
                    </div>
                    <div class="desc"> New Feedbacks </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 red" href="#">
                <div class="visual">
                    <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" data-value="12,5">0</span>M$ </div>
                    <div class="desc"> Total Profit </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 green" href="#">
                <div class="visual">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" data-value="549">0</span>
                    </div>
                    <div class="desc"> New Orders </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 purple" href="#">
                <div class="visual">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="details">
                    <div class="number"> +
                        <span data-counter="counterup" data-value="89"></span>% </div>
                    <div class="desc"> Brand Popularity </div>
                </div>
            </a>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-6">
            <div class="imagehotspot-container" style="position: relative; max-width: 1280px; /* max-width: actual width of image */ width: 100%; height: auto; z-index: 101;">
                <div style="position: relative; height: 0px; padding-bottom: 81.17%; /* padding-bottom: image's height divided by width multiply by 100 */">
                    <img class="img-responsive" src="{% static '/common/images/plano.png' %}" style="position: absolute; top: 0px; left: 0px; z-index: 102">
                </div>
                <div id="spot15" name="agen" style="position: absolute; z-index: 103; width: 3.3%; height: 6%; top: 16.6%; left: 12.9%;">
                    <img class="img-responsive" src="{% static 'common/images/ag.png' %}" >
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="g_descarga"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="g_montaje"></div>
        </div>
    </div>

{% endif %}


{% endblock %}

{% block javascript %}
<!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="{% static 'common/assets/global/scripts/datatable.js' %}" type="text/javascript"></script>
    <script src="{% static 'common/assets/global/plugins/datatables/datatables.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'common/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js' %}" type="text/javascript"></script>
    <script src="{% static 'common/assets/global/plugins/highcharts/js/highcharts.js' %}" type="text/javascript"></script>
    <script src="{% static 'common/assets/global/plugins/highcharts/js/highcharts-3d.js' %}" type="text/javascript"></script>
    <script src="{% static 'common/assets/global/plugins/highcharts/js/highcharts-more.js' %}" type="text/javascript"></script>

    <script src="{% static 'common/js/moment/moment-with-locales.js' %}" type="text/javascript"></script>

    <script src="{% static 'common/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}" type="text/javascript"></script>


    <script src="{% static 'common/js/dashboard.js' %}" type="text/javascript"></script>
    <script src="{% static 'common/js/dashboard-charts.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'common/js/Litetooltip/litetooltip.js' %}"></script>
<!-- END PAGE LEVEL PLUGINS -->
{% endblock %}

{% block jquery %}
    var g_descarga = {{ graficoDescarga|safe }};
    titulo= 'Descarga en parque';
    DashboardGraficos.showGraficoColumnas(g_descarga,titulo,'#g_descarga');
    var g_montaje = {{ graficoMontaje|safe }};
    titulo= 'Montaje';
    DashboardGraficos.showGraficoColumnas(g_montaje,titulo,'#g_montaje');

{% endblock %}