{% extends "fu/baseDashboard.html" %}
{% load staticfiles %}
{% load customtags %}
{% load tz %}
{% load l10n %}
{% block css %}
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="{% static 'common/assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'common/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'common/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->

    <style>
        .bootstrap-datetimepicker-widget tr:hover {
            background-color: #808080;
        }
        .dashboard-stat.dashboard-stat-v2 .visual {
            padding-top: 15px;
            margin-bottom: 20px;
        }
        #ampliar {
            cursor: pointer;
        }

        #tooltip {
            text-align:center;
            background:black;
            color:white;
            padding:3px 0;
            width:60px;
            position:fixed;
            display:none;
            white-space:nowrap;
            z-index:500;
        }
        @media print {
          a[href]:after {
            content: none !important;
          }
        }
    </style>
{% endblock %}

{% block contenido %}


{% if not configuracion %}
    <div class="row">
        <div class="col-md-11 col-md-offset-1">
            <h4>Por favor, configurar Follow up.</h4>
        </div>
    </div>
{% else %}

    <div class="page-bar">
        <div class="page-toolbar">
            <div class="pull-right">
            <div class="form-group" style="margin-bottom: 0px;">
                <div class='input-group date' id="dashboard">
                    <input type='text' class="form-control" id="dashboard-show" />
                    <span class="input-group-addon" id="dashboard-opener">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <input type='hidden' class="form-control" id="dashboard-fecha" style="position:relative"/>
            </div>
        </div>
    </div>

    <h1 class="page-title">
    {% block pagetitle %}
        {{ cont.titulo }} <small>{{ cont.subtitulo }}</small>
    {% endblock %}
    </h1>

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 blue" href="#">
                <div class="visual" >
                    <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span name="counter" data-value="{{ montados }}">0</span>
                    </div>
                    <div class="desc"> Aerogeneradores montados </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 red" href="#">
                <div class="visual">
                    <i class="fa fa-line-chart "></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span name="counter" data-value="{{ avance|floatformat:1|unlocalize }}">0</span>%</div>
                    <div class="desc"> Porcentaje avance </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 green" href="#">
                <div class="visual">
                    <i class="fa fa-wrench"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span name="counter" data-value="{{ mechanical }}"></span>
                    </div>
                    <div class="desc"> Mechanical completion </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 purple" href="#">
                <div class="visual">
                    <i class="fa fa-check-square-o"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span name="counter" data-value="{{ ag_ready }}"></span></div>
                    <div class="desc"> WTG puestos en marcha </div>
                </div>
            </a>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-6">
            <div class="imagehotspot-container" style="position: relative; max-width: 1280px; /* max-width: actual width of image */ width: 100%; height: auto; z-index: 101;">
                <div style="position: relative; height: 0px; padding-bottom: 81.17%; /* padding-bottom: image's height divided by width multiply by 100 */">
                    <img class="img-responsive" src="{% static plano_3d %}" style="position: absolute; top: {{ plano_3d_top }}; left: 0px; z-index: 102">
                </div>
                {% include "fu/aerogeneradores.html" %}
                <div id="ampliar" name="ampliar" style="position: absolute; z-index: 500; width:7%; top:68%; left:85%;">
                    <img class="img-responsive" src="{% static 'common/images/ampliar2.png' %}" >
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="g_avance"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="g_descarga"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="g_montaje"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="g_puestaenmarcha"></div>
        </div>
    </div>

    <form action="{% url 'fu:dashboard' parque.slug %}" method="post" style="visibility:hidden" id="formSemana">
        {% csrf_token %}
        <input type="hidden" name="semana" id="inputSemana"><br>
    </form>

    <div class="modal fade" id="full" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-full">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="imagehotspot-container" style="position: relative; max-width: 1280px; /* max-width: actual width of image */ width: 100%; height: auto; z-index: 101;">
                                <div style="position: relative; height: 0px; padding-bottom: 81.17%; /* padding-bottom: image's height divided by width multiply by 100 */">
                                    <img class="img-responsive" src="{% static plano_3d %}" style="position: absolute; top: {{ plano_3d_top }}; left: 0px; z-index: 102">
                                </div>
                                {% include "fu/aerogeneradores.html" %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

{% endif %}


{% endblock %}

{% block javascript %}
<!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="{% static 'common/assets/global/scripts/datatable.js' %}" type="text/javascript"></script>
    <script src="{% static 'common/assets/global/plugins/datatables/datatables.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'common/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js' %}" type="text/javascript"></script>
    <script src="{% static 'common/assets/global/plugins/highcharts/js/highcharts.js' %}" type="text/javascript"></script>
    <script src="{% static 'common/assets/global/plugins/highcharts/js/highcharts-3d.js' %}" type="text/javascript"></script>
    <script src="{% static 'common/assets/global/plugins/highcharts/js/highcharts-more.js' %}" type="text/javascript"></script>

    <script src="{% static 'common/js/moment/moment-with-locales.js' %}" type="text/javascript"></script>
    <script src="{% static 'common/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'common/js/countUp/countUp.js' %}" type="text/javascript"></script>

    <script src="{% static 'common/js/dashboard.js' %}" type="text/javascript"></script>
    <script src="{% static 'common/js/dashboard-charts.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'common/js/Litetooltip/litetooltip.js' %}"></script>
<!-- END PAGE LEVEL PLUGINS -->
{% endblock %}

{% block jquery %}

    {% if configuracion %}
    var fecha = moment('{{ fecha|date:"Y-m-d" }} 12:00');
    var fecha_inicial = moment('{{ fecha_inicial|date:"Y-m-d" }} 12:00');
    //console.log(fecha);
    //console.log(fecha_inicial);
    var semana_str = "{{ week_str|safe }}";
    Dashboard.init(fecha,semana_str,fecha_inicial);

    $('#ampliar').click(function(){
        console.log('click');
        $('#full').modal();
    });


    var thisweek = "{{ thisweek|safe }}";
    var g_descarga = {{ graficoDescarga|safe }};
    titulo= 'Descarga en parque, '+semana_str;
    DashboardGraficos.showGraficoColumnas(g_descarga,titulo,'#g_descarga');
    var g_montaje = {{ graficoMontaje|safe }};
    titulo= 'Montaje, '+semana_str;
    DashboardGraficos.showGraficoColumnas(g_montaje,titulo,'#g_montaje');
    var g_puestaenmarcha = {{ graficoPuestaenMarcha|safe }};
    titulo= 'Puesta en marcha, '+semana_str;
    DashboardGraficos.showGraficoColumnas(g_puestaenmarcha,titulo,'#g_puestaenmarcha');
    var g_avance = {{ graficoAvance|safe }};
    titulo= 'Avance de Izado, '+semana_str;
    DashboardGraficos.showGraficosLinea(g_avance,titulo,'#g_avance',thisweek);

    {% endif %}
{% endblock %}