{% extends "base.html" %}
{% load staticfiles %}
{% load customtags %}
{% load tz %}
{% block css %}
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="{% static 'common/bootstrap-fileinput/css/fileinput.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'common/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}" rel="stylesheet" type="text/css" />
    <style>
        .vertical-align {
            position: relative;
            transform: translateY(50%);
        }
        .table-titulo{
            border: 1px solid #e7ecf1;

        }
        .table-contenido{
            border: 1px solid #e7ecf1;
        }
        .open > .dropdown-menu {
            z-index: 1000;
        }
    </style>
    <!-- END PAGE LEVEL STYLES -->
{% endblock %}

{% block contenido %}


<div class="row">
    <div class="col-md-12" >
        <div class="table-responsive" style="padding-bottom: 20px">
          <table class="table" >
              <tbody>
              {% for titulo,elementos in componentes.items %}
                  <tr>
                      <td class="table-titulo" style="vertical-align: middle;">
                          {{ titulo }}
                      </td>
                      <td class="table-contenido">
                          {% with objetos=elementos|get_item:'objetos' %}
                          {% for objeto in objetos %}
                              {% if objeto|get_item:"status" == 0 %}
                              <div class="btn-group">
                                    <a href="javascript:;" class="icon-btn {{ objeto|get_item:"color" }} dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa {{ elementos|get_item:'icon' }}"></i>
                                    <div style=" padding-left: 5px;padding-right: 5px;"> {{ objeto|get_item:"componente"|get_attr:"nombre" }} </div>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="javascript:;" name="{{ elementos|get_item:'id' }}-{{ objeto|get_item:"componente"|get_attr:"id" }}"> Registrar
                                            </a>
                                        </li>
                                    </ul>
                              </div>
                              {% elif objeto|get_item:"status" == 2 %}
                              <div class="btn-group">
                                    <a href="javascript:;" class="icon-btn {{ objeto|get_item:"color" }} dropdown-toggle" data-toggle="dropdown" name="ingresado" title="{{ objeto|get_item:"tooltip" }}">
                                    <i class="fa {{ elementos|get_item:'icon' }}"></i>
                                    <div style=" padding-left: 5px;padding-right: 5px;"> {{ objeto|get_item:"componente"|get_attr:"nombre" }} </div>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="javascript:;" name="eliminar-{{ objeto|get_item:"componente"|get_attr:"id" }}-{{ objeto|get_item:"estado" }}"> Eliminar
                                            </a>
                                        </li>
                                    </ul>
                              </div>
                              {% elif objeto|get_item:"status" == 1 %}
                              <div class="btn-group">
                                    <a href="javascript:;" class="icon-btn {{ objeto|get_item:"color" }}" style="pointer-events: none;">
                                    <i class="fa {{ elementos|get_item:'icon' }}"></i>
                                    <div style=" padding-left: 5px;padding-right: 5px;"> {{ objeto|get_item:"componente"|get_attr:"nombre" }} </div>
                                    </a>
                              </div>
                              {% endif %}
                          {% endfor %}
                          {% endwith %}
                      </td>
                  </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
    </div>
</div>

<div class="row" style="padding-bottom: 40px;z-index: -1;">
    {% if 'img' in pos %}
    <div class="col-md-3">
        <div class="imagehotspot-container" style="position: relative; max-width: 1280px; /* max-width: actual width of image */ width: 100%; height: auto; z-index: 101;">
            <div style="position: relative; height: 0px; padding-bottom: 81.17%; /* padding-bottom: image's height divided by width multiply by 100 */">
                <img class="img-responsive" src="{% static '/common/images/Dirt_01.png' %}" style="position: absolute; top: 0px; left: 15%; z-index: 102;">
            </div>
            <div id="imagen" name="agen" style="position: absolute; z-index: 301; width:{{ pos|get_item:'width'|safe }}%; top: {{ pos|get_item:'top'|safe }}%; left: {{ pos|get_item:'left'|safe }}%;">
                <img class="img-responsive" src="{% static pos|get_item:'img' %}" >
            </div>
        </div>
    </div>
    {% endif %}
    <div class="col-md-{% if 'img' in pos %}9{% else %}12{% endif %}">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title" style="padding-bottom: 0px;border-bottom: 0px;">
                <div class="caption">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">Registros</span>
                </div>
            </div>
            <div class="portlet-body" style="padding-top: 0px;">
                <div class="table-scrollable">
                    <table class="table table-hover table-light">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> Acci&oacute;n </th>
                                <th> Componente </th>
                                <th> Fecha </th>
                                <th> Nº de serie </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for r in registros %}
                            <tr>
                                <td> {{ forloop.counter }} </td>
                                <td> {{ r.estado.nombre }} </td>
                                <td> {{ r.componente.nombre }} </td>
                                <td> {{ r.fecha }} </td>
                                <td> {% if r.no_serie %}{{ r.no_serie }} {% endif %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>

<div class="modal fade bs-modal-lg" id="descarga" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-plus" style="color:rgba(74,182,100,0.89);font-size:20px"></span>
                     <b id="descarga-titulo">Registro</b> </h4>
            </div>
            <div class="modal-body">
                <form action="{% url 'fu:ingreso' parque.slug aerogenerador.slug %}" method="post" id="descargaForm" class="horizontal-form">
                {% csrf_token %}
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-3" style="padding-top:3px">{{ formDescarga.fecha.label }}</label>
                                <div class="col-md-9">
                                    <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy" data-date-show-today-button="true">
                                        {{ formDescarga.fecha }}
                                        <span class="input-group-btn">
                                            <button class="btn default" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <span class="help-block"> {{ formDescarga.fecha.errors }} </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-3" style="padding-top:3px">{{ formDescarga.no_serie.label }}</label>
                                <div class="col-md-9">
                                    {{ formDescarga.no_serie }}
                                    <span class="help-block"> {{ formDescarga.no_serie.errors }} </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
                <button type="submit" id='enviarDescarga' class="btn green" name="formDescarga">Agregar</button>
                    <!--<a href="" id='enviarmodal' class="btn btn-success success">Save Changes</a>-->
                </form>
                <!--<button type="button" id="enviarmodal" class="btn blue">Save changes</button>-->

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade bs-modal-lg" id="registro" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-plus" style="color:rgba(74,182,100,0.89);font-size:20px"></span>
                     <b id="descarga-titulo">Registro</b> </h4>
            </div>
            <div class="modal-body">
                <form action="{% url 'fu:ingreso' parque.slug aerogenerador.slug %}" method="post" id="registroForm" class="horizontal-form">
                {% csrf_token %}
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-3" style="padding-top:3px">{{ form.fecha.label }}</label>
                                <div class="col-md-9">
                                    <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy" data-date-show-today-button="true">
                                        {{ form.fecha }}
                                        <span class="input-group-btn">
                                            <button class="btn default" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <span class="help-block"> {{ form.fecha.errors }} </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
                <button type="submit" id='enviarRegistro' class="btn green" name="formRegistro">Agregar</button>
                    <!--<a href="" id='enviarmodal' class="btn btn-success success">Save Changes</a>-->
                </form>
                <!--<button type="button" id="enviarmodal" class="btn blue">Save changes</button>-->

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="delete" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-exclamation-sign" style="color:rgba(255, 63, 0, 0.89);font-size:20px"></span>
                     <b>Advertencia</b> </h4>
            </div>
            <div class="modal-body">
                 <h5><b id="eliminar-msg">&iquest;Desea borrar el registro?</b> </h5>
            </div>
            <div class="modal-footer">

                <form action="{% url 'fu:ingreso' parque.slug aerogenerador.slug %}" method="post" id="formDelete">
                    {% csrf_token %}
                    <input type="hidden" name="del_id" id="del_id" value="">
                    <input type="hidden" name="del_estado_id" id="del_estado_id" value="">
                    <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" id='enviarmodal' class="btn red" name="delete">Borrar</button>
                    <!--<a href="" id='enviarmodal' class="btn btn-success success">Save Changes</a>-->
                </form>
                <!--<button type="button" id="enviarmodal" class="btn blue">Save changes</button>-->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

{% endblock %}

{% block javascript %}
<!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="{% static 'common/bootstrap-fileinput/js/fileinput.js' %}" type="text/javascript"></script>
    <script src="{% static 'common/bootstrap-fileinput/js/locales/es.js' %}" type="text/javascript"></script>
    <script src="{% static 'common/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'common/assets/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js' %}" type="text/javascript"></script>

<!-- END PAGE LEVEL PLUGINS -->
{% endblock %}

{% block jquery %}
    if (jQuery().datepicker) {
        $('.date-picker').datepicker({
            locale: "es",
            language: "es",
            rtl: App.isRTL(),
            orientation: "right",
            autoclose: true,
            showTodayButton: true,
            toolbarPlacement:"bottom",
            todayHighlight:true,
            todayBtn:"linked",
        });
    }

    $("[name='ingresado']").each(function( index ) {
        $(this).tooltip({
            placement:"right",
            html: true,
        });
    });

    $("[name^='descarga']").each(function( index ) {
        $(this).click(function(index){
            var id = $(this).attr('name').split('-')[1];
            //console.log(componente_id);
            //console.log($(this).attr('name'));
            var element1 = $(this).parent().parent().siblings()[0];
            var element2 = $(element1).children('div')[0];
            var componente_name = $(element2).html();
            //console.log(componente_name);
            var titulo = 'Registro Descarga ' + componente_name;
            $('#descarga-titulo').html(titulo);
            $('#descargaForm').append('<input type="hidden" name="id" id="componente_id" value="' + id + '">');
            $('#descarga').modal();
        });
    });


    $("[name^='montaje']").each(function( index ) {
        $(this).click(function(index){
            var id = $(this).attr('name').split('-')[1];
            //console.log(componente_id);
            //console.log($(this).attr('name'));
            var element1 = $(this).parent().parent().siblings()[0];
            var element2 = $(element1).children('div')[0];
            var componente_name = $(element2).html();
            //console.log(componente_name);
            var titulo = 'Registro Montaje ' + componente_name;
            $('#descarga-titulo').html(titulo);
            $('#registroForm').append('<input type="hidden" name="id" id="componente_id" value="' + id + '">');
            $('#enviarRegistro').attr('name','formMontaje');
            $('#registro').modal();
        });
    });

    $("[name^='puestaenmarcha']").each(function( index ) {
        $(this).click(function(index){
            var id = $(this).attr('name').split('-')[1];
            //console.log(componente_id);
            //console.log($(this).attr('name'));
            var element1 = $(this).parent().parent().siblings()[0];
            var element2 = $(element1).children('div')[0];
            var componente_name = $(element2).html();
            //console.log(componente_name);
            var titulo = 'Registro Puesta en marcha ' + componente_name;
            $('#descarga-titulo').html(titulo);
            $('#registroForm').append('<input type="hidden" name="id" id="componente_id" value="' + id + '">');
            $('#enviarRegistro').attr('name','formPuestaenmarcha');
            $('#registro').modal();
        });
    });

    $("[name^='eliminar']").each(function( index ) {
        $(this).click(function(index){
            var id = $(this).attr('name').split('-')[1];
            var estado_id = parseInt($(this).attr('name').split('-')[2]);
            //console.log(componente_id);
            //console.log($(this).attr('name'));
            var element1 = $(this).parent().parent().siblings()[0];
            var element2 = $(element1).children('div')[0];
            var componente_name = $(element2).html();
            //console.log(componente_name);
            if (estado_id == 1){
                var estado_name = 'Descarga en parque';
            } else if (estado_id == 2) {
                var estado_name = 'Pre-montaje';
            } else if (estado_id == 3) {
                var estado_name = 'Montaje';
            } else if (estado_id == 4) {
                var estado_name = 'Puesta en marcha';
            }
            var titulo = '&iquest;Seguro desea borrar el registro para ' + estado_name + ' de componente ' + componente_name + '?';
            $('#eliminar-msg').html(titulo);
            $('#formDelete > #del_id').val(id)
            $('#formDelete > #del_estado_id').val(estado_id)
            $('#delete').modal();
        });
    });

    $('#descarga').on('hidden.bs.modal', function (e) {
        $('#descargaForm > #componente_id').remove();
    });

    $('#registro').on('hidden.bs.modal', function (e) {
        $('#registroForm > #componente_id').remove();
    });

{% endblock %}