{% extends "base.html" %}
{% load staticfiles %}
{% load customtags %}
{% load tz %}
{% load sekizai_tags %}


{% block contenido %}
    {% if parque.no_aerogeneradores == 0 %}
        <div class="row">
            <div class="col-md-11 col-md-offset-1">
                <h4>Por favor, ingresar la informaci&oacute;n del parque (Configuraci&oacute;n).</h4>
            </div>
        </div>
    {%  else %}
        <div class="row">
            <div class="portlet box blue" style="margin-left:30px;margin-right:30px;">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-search"></i> Agregar DR
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    {% include "dr/w_dr_form.html" %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
