{% load staticfiles %}
{% load customtags %}
{% load tz %}
{% load sekizai_tags %}

<div class="fileinput fileinput-new" data-provides="fileinput">
    <div class="fileinput-new thumbnail" style="width: {{ width }}px; height: {{ height }}px;"  data-trigger="fileinput">
        <img src="http://www.placehold.it/{{ width }}x{{ height }}/EFEFEF/AAAAAA&amp;text=Imagen" alt="" />
    </div>
    <div class="fileinput-preview fileinput-exists thumbnail" style="width:{{ width }}px;height:{{ height }}px;" data-trigger="fileinput">
    </div>
    <input type="file" name="file_input_{{ template }}_{{ template_num }}" style="display: none;"> </span>
</div>