{% load staticfiles %}
{% load customtags %}
{% load tz %}
{% load sekizai_tags %}

<div class="modal fade" id="actividad" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-plus" style="color:rgba(57,225,62,0.89);font-size:20px"></span>
                     <b id="titulo_actividad_modal">Agregar Actividad</b> </h4>
            </div>
            <form action="{% url 'dr:actividad_agregar' parque.slug dr.id %}" method="post" id="formActividad">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label>Descripción</label>
                        <textarea class="form-control" id="actividad-descripcion" name="actividad_descripcion" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="edit_actividad" id="edit_actividad" value="0">
                    <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" id='boton_actividad' class="btn green-steel" name="FromList">Agregar</button>
                    <!--<a href="" id='enviarmodal' class="btn btn-success success">Save Changes</a>-->
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

{% addtoblock "widget-jquery" %}
    $('#actividad').on('show.bs.modal', function (e) {
        if (typeof e.relatedTarget != "undefined"){
            $("#actividad-descripcion").val('');
            $('#titulo_actividad_modal').html('Agregar Actividad');
            $("#boton_actividad").html('Agregar');
        }
    })
{% endaddtoblock %}