{% if grafico_estado|length > 0 %}
<div class="row">
    <div class="col-md-6">
        <div id="grafico_estado"></div>
    </div>
    <div class="col-md-6">
        <div id="grafico_componente"></div>
    </div>
</div>
{% endif %}

{% if graficos %}
    {% for g in graficos %}
        {% if forloop.counter0|divisibleby:2 %}
            <div class="row">
        {% endif %}
            <div class="col-md-6">
                <div id="grafico_{{ g }}"></div>
            </div>
        {% if forloop.counter|divisibleby:2 %}
            </div>
        {% endif %}
    {% endfor %}
    {% if graficos|length > 0 %}
        {% if not graficos|length|divisibleby:2 %}
            </div>
        {% endif %}
    {% endif %}
{% else %}
    <div class="row">
        <div class="col-md-6">
            <div id="grafico_severidad"></div>
        </div>
        <div class="col-md-6">
            <div id="grafico_prioridad"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div id="grafico_subcomponente"></div>
        </div>
        <div class="col-md-6">
            <div id="grafico_tipo"></div>
        </div>
    </div>
{% endif %}