{% extends "base.html" %}
{% load staticfiles %}
{% load customtags %}
{% load tz %}
{% block css %}
    <!-- BEGIN PAGE LEVEL STYLES -->
    <!-- END PAGE LEVEL STYLES -->
{% endblock %}

{% block contenido %}

<div class="row">
    {% if parque.no_aerogeneradores == 0 %}
        <div class="col-md-11 col-md-offset-1">
            <h4>Por favor, ingresar la información del parque (Configuraci&oacute;n).</h4>
        </div>
    {%  else %}
        {% if parque.logo %}

            <div class="col-md-5">
                <p><b>Cliente:</b>  {{ parque.cliente }}</p>
                <p><b>C&oacute;digo:</b> {{ parque.codigo }}</p>
                <p><b>Suministrador:</b> {{ parque.suministrador }}</p>
                <p><b>Plataforma:</b> {{ parque.plataforma }}</p>
                <p><b>Nº de Aerogeneradores:</b> {{ parque.no_aerogeneradores }}</p>
            </div>
            <div class="col-md-5">
                <img src="{{ parque.logo.url }}" width="350px">
            </div>
        {% else %}
            <div class="col-md-12">
                <p><b>Cliente:</b>  {{ parque.cliente }}</p>
                <p><b>C&oacute;digo:</b> {{ parque.codigo }}</p>
                <p><b>Suministrador:</b> {{ parque.suministrador }}</p>
                <p><b>Plataforma:</b> {{ parque.plataforma }}</p>
                <p><b>Nº de Aerogeneradores:</b> {{ parque.no_aerogeneradores }}</p>
            </div>
        {% endif %}
    {% endif %}

</div>

{% endblock %}

{% block javascript %}
<!-- BEGIN PAGE LEVEL PLUGINS -->

<!-- END PAGE LEVEL PLUGINS -->
{% endblock %}

{% block jquery %}


{% endblock %}