{% load staticfiles %}
{% load customtags %}

<!-- BEGIN SIDEBAR -->
	<div class="page-sidebar-wrapper">
		<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
		<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
		<div class="page-sidebar navbar-collapse collapse">
			<!-- BEGIN SIDEBAR MENU -->
			<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
			<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
			<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
			<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
			<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
			<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
			<ul class="page-sidebar-menu page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
				<!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
				
				<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
				<li class="sidebar-toggler-wrapper">
                    <div class="sidebar-toggler">
                        <span></span>
                    </div>
                </li>
				<!-- END SIDEBAR TOGGLER BUTTON -->
                &nbsp;
				<!--<li class="start ">-->

                <li class="nav-item" id="menu-perfil">
					<a href="{% url 'usuarios:home' %}" class="nav-link nav-toggle">
						<i class="icon-home"></i>
						<span class="title">Perfil Usuario</span>
					</a>
                </li>

                <li class="nav-item" id="menu-contrasena">
					<a href="{% url 'usuarios:usuario-cambiarcontrasena' %}" class="nav-link nav-toggle">
						<i class="icon-key"></i>
						<span class="title">Cambiar Contraseña</span>
					</a>
                </li>
                {% if perms.usuarios.add_usuario %}
                <li class="nav-item" id="menu-usuarios">
					<a href="{% url 'usuarios:usuarios' %}" class="nav-link nav-toggle">
						<i class="icon-users"></i>
						<span class="title">Usuarios</span>
					</a>
				</li>
                {% endif %}
                <li class="nav-item" id="menu-sistema">
					<a href="/" class="nav-link nav-toggle">
						<i class="icon-arrow-left"></i>
						<span class="title">Volver al Sistema</span>
					</a>
                </li>

			</ul>
			<!-- END SIDEBAR MENU -->
		</div>
	</div>
	<!-- END SIDEBAR -->